<span class="navbar-item logo"><img src="{{ .Site.BaseURL }}images/gitea.png" alt="{{ .Site.Title }}"></span>
{{ range .Site.Menus.page }}
	{{ if .HasChildren }}
		<div class="navbar-item dropdown">
			<i class="fa fa-{{ .Pre }}"></i>&nbsp;
			<span>{{ .Name }}</span>
			<div class="dropdown-content">
				{{ range .Children }}
					<a class="navbar-item" href="{{ .URL }}">
						<i class="fa fa-{{ .Pre }}"></i>&nbsp;
						{{ .Name }}
					</a>
				{{ end }}
			</div>
		</div>
	{{ else }}
		<a class="navbar-item" {{ if eq .Name "Mastodon" }}rel="me"{{ end }} href="{{ .URL }}">
			<i class="fa fa-{{ .Pre }}"></i>&nbsp;
			{{ .Name }}
		</a>
	{{ end }}
{{ end }}
